@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@font-face {
   font-family: "Adam";
   src: url("../fonts/adam-cg-pro.regular.otf");
}
.logo{
    width: 15vw;
 }
 .nav_color{
    background-color: #000000;
 }
 .padding{
    padding-left: 7% !important;
    padding-right: 7% !important;
 }
 .nav_link{
    margin: 10px 10px;
    color: #DDDD !important;
    font-size: large;
    position: relative;
 }
 .nav_link::after {
   background-color: #EAD87C;
   content: "";
   width: 0;
   height: 3px;
   left: 0;
   bottom: 0;
   transition: width 0.35s ease 0s;
   position: absolute;
 }
 .nav_link:hover::after {
   width: 100%;
 }
 .nav_brand{
   letter-spacing: 3px;
   font-size: xx-large;
   color: #EAD87C;
   display: inline;
   margin: auto 0;
   font-family: "Adam";
   /* font-family: 'PT Serif', serif; */
 }
 
 @media screen and (max-width:1199px) {
    .logo{
       width: 23vw;
    }
 }
 @media screen and (max-width:767px) {
    .logo{
       width: 30vw;
    }
 }
 /* .fontstyle{
    font-family: Adam.cgpro;
 } */
 .stylit{
    width: 0;
 }
 @media screen and (min-width:1280px) {
    .stylit{
       min-width: 9%;
    }
 }
 .hoverinbac:hover{
    border-bottom: 2px solid #EAD87C;
    border-top-left-radius: 0.5px;
    border-bottom-left-radius: 0.5px;
    border-top-right-radius: 0.5px;
    border-bottom-right-radius: 0.5px;
 }